<!DOCTYPE html>
<html>
  <head>
    <title>my-app</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>my-app</h1>
    <p>Welcome to my-app</p>
  </body>
</html>
